/LambdaExample.class
/FIWithTwoParameters.class
/FIWithoutParameters.class
/FIWithSingleParameter.class
/FIWithStaticMethods.class
/FIWithDefaultMethod.class
/FIParameterAsAnotherClass.class
/LambdaExample$1.class
